.tpr-prototype-frontend__body {
    font-family: 'Open Sans', sans-serif;

    .govuk-body {
        font-family: inherit;
    }
    .govuk-heading-l {
        font-family: inherit;
    }
    .govuk-back-link {
        font-family: inherit;
    }
    * { //todo: target specific classes instead of everything.
        font-family: inherit;
    }
}

.tpr-prototype-frontend__header__link {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    text-decoration: none;
}

.tpr-prototype-frontend__header__link:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.tpr-prototype-frontend__header__link:focus {
    color: #3d3d3d;
}

.tpr-prototype-frontend__related-items {
    border-top: 4px solid #006ebc;
    padding-top: .85rem;
        /* border-top: 2px solid govuk-colour("blue");
        padding-top: govuk-spacing(2); */
}

/* #subsection-title {     //Not sure I need this yet. If I don't, I need to take out the id in the tprRelatedLinks.njk file.
    line-height: 1.3;
    margin-bottom: 12px;
  } */



// ------- 2. HEADER STYLES ------- //


.tpr-prototype-frontend__header {
    background: #483b8b;
    // border-bottom: 10px solid #ffffff;
    border-bottom: 0;
    color: #ffffff;
    // font-size: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.1428571429;
    padding-bottom: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
}

.tpr-prototype-frontend__header__container {
    // border-bottom: 10px solid #3d3d3d;
    border-bottom: 0; 
    margin-bottom: -10px;
    padding: 12px 0;
    position: relative;
}

.tpr-prototype-frontend__header__logo {
    padding-right: 0;
    width: 20%;
}

.tpr-prototype-frontend__header__content, .tpr-prototype-frontend__header__navigation {
    text-align: right;
    width: 40%;
}

.tpr-prototype-frontend__header__service-name {
    border-left: solid 1px #7569ba;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 12px;
    padding: 1rem 0 1rem 1rem;
    width: 40%;
}

.tpr-prototype-frontend__header__service-name a.tpr-prototype-frontend__header__link {
    font-size: 1.15rem;
  }
  
.tpr-prototype-frontend__header__nav {
    padding-top: 2.1em;
}

.tpr-prototype-frontend__header__username {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.tpr-prototype-frontend__header__logo-image {
    height: 72px;
    width: 150px;
}

  