{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set bodyClasses="tpr-prototype-frontend__body" %}

{% block header %}
  {{ tprHeaderServiceUsername ({
    links: [
      {
        text: "Manage pension schemes",
        url: "#"
      }
    ]
  })}}
{% endblock %}

{% block footer %}

{{ tprFooterService ({
  navigation: [
    {
      items: [
        {
          href: "#",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Website policies"
        }
      ]
    }]
}) }}

{% endblock %}