{% macro tprFooterService(params) %}

<footer class="tpr-prototype-frontend__footer {{ params.classes if params.classes }}" role="contentinfo"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="tpr-prototype-frontend__width-container {{ params.containerClasses if params.containerClasses }}">
    <div class="tpr-prototype-frontend__footer__logo">
      {# TPR FOOTER LOGO #}
    </div>
    <hr class="tpr-prototype-frontend__footer__section-break">
    {% if params.navigation | length %}
    <div class="tpr-prototype-frontend__footer__grid-row">
     <div class="tpr-prototype-frontend__grid-column-two-thirds tpr-prototype-frontend__footer__navigation">
        {% for nav in params.navigation %}
           {% if nav.items | length %}
              {% set listClasses %}
                {% if nav.columns %}
                  govuk-footer__list--columns-{{ nav.columns }}
                {% endif %}
              {% endset %}
              <ul class="tpr-prototype-frontend__footer__inline-list {{ listClasses | trim }}">
                {% for item in nav.items %}
                  {% if item.href and item.text %}
                    <li class="tpr-prototype-frontend__footer__inline-list-item">
                      <a class="tpr-prototype-frontend__footer__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                        {{ item.text }}
                      </a>
                    </li>
                    {% elseif item.html %}
                    <li class="tpr-prototype-frontend__footer__copyright"> {{ item.html | safe }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
        <div class=".tpr-prototype-frontend__footer__meta tpr-prototype-frontend__grid-column-one-third">
          {# <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            {% if params.meta %}
              <h2 class="govuk-visually-hidden">{{ params.meta.visuallyHiddenTitle | default("Support links") }}</h2>
              {% if params.meta.items | length %}
                <ul class="govuk-footer__inline-list">
                  {% for item in params.meta.items %}
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                        {{ item.text }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if params.meta.text or params.meta.html %}
                <div class="govuk-footer__meta-custom">
                  {{ params.meta.html | safe if params.meta.html else params.meta.text }}
                </div>
              {% endif %}
            {% endif %} #}

          <div class="tpr-prototype-frontend__footer__copyright">
            {%- if params.copyright.html or params.copyright.text -%}
            {{ params.copyright.html | safe if params.copyright.html else params.copyright.text }}
          {%- else -%}
            © 2022 – 2023 The Pensions Regulator
          {%- endif -%}
      </div>
        </div>
     
    {% endif %}
    
    </div>
</footer> 

{% endmacro %}
