{% macro tprHeaderServiceUsername(params) %}

  <header class="govuk-header tpr-prototype-frontend__header" role="banner">
  <div class="govuk-header__container govuk-width-container tpr-prototype-frontend__header__container">
    <div class="govuk-header__logo tpr-prototype-frontend__header__logo">
      <a href="/" class="govuk-header__link tpr-prototype-frontend__header__link">
        <img src="/plugin-assets/tpr-prototype-frontend/assets/images/TPR-Logo-Header.svg" class="govuk-header__logo-image tpr-prototype-frontend__header__logo-image" alt="The Pensions Regulator Logo"/>
      </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation tpr-prototype-frontend__header__service-name">
      {% for link in params.links %}
          <a href="{{link.url}}" class="tpr-prototype-frontend__header__link govuk-header__link">{{ link.text }}</a>
      {% endfor %}
        {# <a href="/" class="govuk-header__link" style="font-size: 1rem;">
            Managing pension schemes
        </a> #}
    </div>
    <div class="govuk-header__content govuk-header__navigation tpr-prototype-frontend__header__content tpr-prototype-frontend__header__navigation">
      <nav class="tpr-prototype-frontend__header__nav">
        <span class="tpr-prototype-frontend__header__username">John Smith &nbsp;|&nbsp; </span>
        <a href="/" class="govuk-header__link tpr-prototype-frontend__header__link">
          Sign out
        </a>
      </nav>
    </div>
  </div>
</header>

{% endmacro %}
